<h1>Hello <%= @user.firstname %>!</h1>
<p>
  First Name: <%= @user.firstname %>
  Last Name: <%= @user.lastname %>

  <% @user.phones.each do |x| %>
  <%= x.phonenumber %>
  <% end %>

  Username: <%= @user.username %>
  Password: <%= @user.password %>
</br>
  User Id: <%= @user.id %>
</p>
