<h1>Hello <%= @user.firstname %>!</h1>
<p>
  First Name: <%= @user.firstname %><br/>
  Last Name: <%= @user.lastname %><br/>
  Street Address: <%= @user.streetaddr %><br/>
  City: <%= @user.city %><br/>
  State: <%= @user.state %><br/>
  Zipcode: <%= @user.zipcode %><br/>
  Country: <%= @user.country %><br/>
  <ul>
    <% @user.phones.each do |x| %>
    <li>Phone: <%= x.phonenumber %></li>
    <% end %>
  </ul></br>
  Username: <%= @user.username %><br/>
  Password: ***********<br/>
  User Id: <%= @user.id %>
</p>

<a class="btn btn-info" href="/registration/login">Login</a>

<a class="btn btn-info" href="/registration/logout">Log Out</a>
